# File types
*.backup
*.config
*.csv
*.log
*.rpm
*.tar.gz
*.tgz
*.deb
*.tar.bz2
*.msi
*.exe
*.tfstate*
*.key
*.xlsx
*DS_store*
*VEN_ACTIVATION_CODE*
*PCE-AD_Sync*
*.crt
*.p12
*.bz2
*.hosts

# Vagrant
*.vagrant/

# Terraform files
.terraform/

# Executables
*/vensim
*/workloader

# Other
ansible/hosts
terraform/variable-files/*
!terraform/variable-files/sample-wklds.json
!terraform/variable-files/sample-vpc.json
ipsec-certs/output/*
ansible/roles/vensim/*
k8s-lab/f5-ingress-controller


