PowerShell -Command "& {Set-ExecutionPolicy -Scope process remotesigned -Force; Start-Sleep -s 3; Set-Variable -Name ErrorActionPreference -Value SilentlyContinue; [System.Net.ServicePointManager]::SecurityProtocol=[Enum]::ToObject([System.Net.SecurityProtocolType], 3072); Set-Variable -Name ErrorActionPreference -Value Continue; (New-Object System.Net.WebClient).DownloadFile('https://{{ pce.org_name }}.{{ pce.domain_name }}:{{ pce.front_end_https_port }}/api/v6/software/ven/image?pair_script=pair.ps1&profile_id=1', '.\Pair.ps1'); .\Pair.ps1 -management-server {{ pce.org_name }}.{{ pce.domain_name }}:{{ pce.front_end_https_port }} -activation-code {{lookup('file', '/home/centos/ansible/ven-install/pk') }};}"