# SNC CONFIG
snc_pce_fqdn="snc.poc.segmentationpov.com" # Must end in *.poc.segmentationpov.com for certs to work
pce_ip_address="192.168.100.20" # IP Address passed to the Vagrantfile

# PCE USER
user_email="name@domain.com"
user_fullname="First Last"
org_name="Local-Lab"
password="This-is-a-placeholder-pwd" # Password needs to be 8 characters, one uppercase, and one lowercase.

# FILE LOCATIONS - Relateive to the shared folder
pce_rpm="pce-sw/illumio-pce-19.3.1-16752.x86_64.rpm"
ui_rpm="pce-sw/illumio-pce-ui-19.3.1.UI1-16752.x86_64.rpm" # Use blank value if using PCE prior to 19.3
ven_bundle="ven-sw/illumio-ven-bundle-19.3.0-6104.tar.bz2"
crt="certs/poc-segmentationpov-com/star_poc_segmentationpov_com_bundle.crt" 
key="certs/poc-segmentationpov-com/star_poc_segmentationpov_com.key"
ubuntu_ven="ven-sw/illumio-ven-pkgs-19.3.1-6194/illumio-ven-19.3.1-6194.u16.amd64.deb"
workloads_file="lxc/workloads.csv"
flows_file="lxc/flows.csv"
pce_setup_template_absolute_path="/Users/brianpitta/illumio-lab/common-shared/Illumio-PCE-Setup-Template.json"
