rm -fr /opt/illumio_ven_data/tmp && umask 026 && mkdir -p /opt/illumio_ven_data/tmp && curl "https://{{ pce.org_name }}.{{ pce.domain_name }}:{{ pce.front_end_https_port }}/api/v6/software/ven/image?pair_script=pair.sh&profile_id=1" -o /opt/illumio_ven_data/tmp/pair.sh && chmod +x /opt/illumio_ven_data/tmp/pair.sh && /opt/illumio_ven_data/tmp/pair.sh --management-server {{ pce.org_name }}.{{ pce.domain_name }}:{{ pce.front_end_https_port }} --activation-code {{lookup('file', '/home/centos/ansible/ven-install/pk') }}