# PCE runtime_env.yml parameters
install_root: /opt/illumio-pce
runtime_data_root: /var/lib/illumio-pce/runtime
persistent_data_root: /var/lib/illumio-pce/data
ephemeral_data_root: /var/lib/illumio-pce/tmp
log_dir: /var/log/illumio-pce
private_key_cache_dir: /var/lib/illumio-pce/keys
pce_fqdn: {{ org }}.{{ domain_name }}
service_discovery_fqdn: {{ org }}.{{ domain_name }}
service_discovery_encryption_key: {{ sdek }}
cluster_public_ips:
  cluster_fqdn:
    - {{ ipify_public_ip }}
node_type: snc0
web_service_certificate: /var/lib/illumio-pce/cert/server.crt
web_service_private_key: /var/lib/illumio-pce/cert/server.key
trusted_ca_bundle: /etc/ssl/certs/ca-bundle.crt
front_end_https_port: 8443
front_end_event_service_port: 8444
email_address: noreply@illumio-corex.com
email_display_name: noreply
expose_user_invitation_link: true
smtp_relay_address: 127.0.0.1:25
syslog_event_export_format: json
export_flow_summaries_to_syslog:
 - potentially_blocked
 - blocked
 - accepted